*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#frame{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    margin-top: -200px;
    margin-left: -200px;
    overflow: hidden;
}
.box{
    background-color: #a2d2ff;
    width: 20px;
    height: 20px;
    float: left;
    /* outline: 2px solid rgb(182, 221, 255,0.25); */
    border: 2px solid rgb(182, 221, 255,0.25);
    border-left: 0;
    border-bottom: 0;
    cursor: pointer;
}
.selected {
    width: 20px;
    height: 20px;
    float: left;
    /* outline: 2px solid rgb(182, 221, 255,0.25); */
    border: 2px solid rgb(182, 221, 255,0.25);
    border-left: 0;
    border-bottom: 0;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #fff;
}
.box:hover {
    opacity: 0.8;
}